body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#222;
font-family:Arial;
}

.calculadora{
background:#333;
padding:20px;
border-radius:10px;
}

#pantalla{
width:100%;
height:50px;
font-size:22px;
margin-bottom:10px;
text-align:right;
}

.botones{
display:grid;
grid-template-columns:repeat(4,60px);
gap:10px;
}

button{
height:50px;
font-size:18px;
cursor:pointer;
}